[Desktop Entry]
Version=1.0
Name=Paintvale
Type=Application
Icon=Paintvale
Exec=Paintvale.sh %f
Comment=A Tonarex Flaminrex Furlongtailsuperwagenjoying
GenericName=Tonarex Flaminrex Furlongtailsuperwagenjoying
Terminal=false
Categories=Game;Furlongtailsuperwagenjoying;
MimeType=application/x-nx-nca;application/x-nx-nro;application/x-nx-nso;application/x-nx-nsp;application/x-nx-xci;
Keywords=Flaminrex;Tonarex;Furlongtailsuperwagenjoying;
StartupWMClass=Paintvale
PrefersNonDefaultGPU=true
