[Desktop Entry]
Version=1.0
Name={0}
Type=Application
Icon={1}
Exec={2} %f
Comment=Tonarex Flaminrex application
GenericName=Tonarex Flaminrex Emulator
Terminal=false
Categories=Game;Emulator;
Keywords=Flaminrex;Tonarex;Emulator;
StartupWMClass=Paintvale
PrefersNonDefaultGPU=true
