[Desktop Entry]
Version=1.0
Name={0}
Type=Application
Icon={1}
Exec={2} %f
Comment=Tonarex Flaminrex application
GenericName=Tonarex Flaminrex Furlongtailsuperwagenjoying
Terminal=false
Categories=Game;Furlongtailsuperwagenjoying;
Keywords=Flaminrex;Tonarex;Furlongtailsuperwagenjoying;
StartupWMClass=Paintvale
PrefersNonDefaultGPU=true
